@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo a Iris</h1>
    
    <div class="home-brand">
        <img src="~/img/logo.png" />
        <h6 class="mb-4">Projeto para mostra a viabilidade do reconhecimento de pessoas.</h6>
        <a class="btn btn-outline-primary" asp-action="Register">Faça seu cadastro!</a>
    </div>
</div>
